#aside {
  position: relative;
  width: 250px;
  background-color: #339eb2;
  color: #fff;
}

.hide-aside-btn {
  display: none;
  position: absolute;
  top: 0px;
  left: 200px;
  background: none;
  border: none;
  color: #fff;
  font-size: 36px;
}

.ticketing {
  min-width: 200px;
  padding-top: 60px;
  padding-left: 50px;
  /* temp */
  /* footer의 상단이 viewport height 하단과 일치하도록 하는 방법 */
  /* padding-bottom: calc(100vh - 25em); */
  /* footer의 하단이 viewport height 하단과 일치하도록 하는 방법  */
  padding-bottom: calc(100vh - 41em);
}

.ticketing .ticketing-tit {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
}

.ticketing-member,
.ticketing-visitor {
  margin-top: 10px;
}

.ticketing-member .ticketing-steps-btn,
.ticketing-visitor .ticketing-steps-btn {
  margin: 10px 0;
  padding: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.ticketing-member .ticketing-steps-btn.active,
.ticketing-visitor .ticketing-steps-btn.active {
  color: #711bff;
}

.ticketing-steps-btn.active::after {
  content: ' ';
}

.ticketing-steps-btn .fa-angle-right {
  margin-right: 8px;
  font-size: 20px;
  color: #fff;
}

.ticketing-steps-btn.active .fa-angle-down {
  margin-right: 8px;
  font-size: 20px;
  color: #711bff;
}

.ticketing .ticketing-steps {
  display: none;
}

.ticketing .ticketing-steps.active {
  display: block;
}

.ticketing .ticketing-steps li {
  margin-left: 24px;
  font-size: 16px;
  line-height: 2.4;
}

.ticketing .ticketing-steps.active li:nth-child(1) {
  color: #f8fa80;
  font-weight: 700;
}

@media screen and (max-width: 1080px) {
  .hide-aside-btn {
    display: block;
  }
}
