.main-wrap {
  margin: 20px auto;
  max-width: 1000px;
}

.main-tit-txt {
  margin: 15px 0 25px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline 2px solid black;
  text-underline-offset: 10px;
}
.newItems {
  border: 2px solid #bdbdbd;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 26px 0;
  gap: 23px;
  border-radius: 10px;
}

.newItems li {
  width: 220px;
  margin-bottom: auto;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.newItem-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.poster-wrap {
  width: 180px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.newItem-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.newItem-name {
  font-size: 26px;
  font-weight: 700;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.desc-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.genre-wrap,
.open-wrap,
.actor-wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 13px;
}
.genre-wrap dt,
.open-wrap dt,
.actor-wrap dt {
  color: #bdbdbd;
}
.genre,
.date,
.actor {
  width: 140px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fast-ticket {
  padding: 9px 27px 12px 27px;
  text-align: center;
  border-top: 2px solid #bdbdbd;
}
