#header {
  display: flex;
  padding: 20px 50px;
  align-items: center;
  background-color: #711bff;
  color: #fff;
}

.tit .tit-logo {
  width: 200px;
}

.tit-nav {
  flex-shrink: 1;
  margin: 0 auto;
}

.tit-nav-list {
  display: flex;
}

.tit-nav-list li {
  padding: 0 20px;
}

.tit-nav-list a {
  font-size: 20px;
}

.tit-btn-wrap {
  width: 200px;
  overflow: hidden;
}

.login-btn {
  float: right;
  background: none;
  border: none;
  font-size: 20px;
  color: inherit;
}
