.la-wrap {
    width: 1520px; 
    margin: 50px auto;
}
.main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.tit .tit-logo {
    width:250px;
}
.link-home {
    padding: 17px 30px 13px;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #711bff;
}
.main-carousel {
    display: flex;
    align-items: center;
}
.item-list {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-grow: 1;
}
.item-list li {
    width: 340px;
    aspect-ratio: 1/1.3;
    border-radius: 20px;
    -webkit-box-reflect: below 20px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
    /* 형태 확인을 위한 속성 - JS로 이미지 받아 온 후 삭제 예정*/
    border: 3px solid #828282;
    box-sizing: border-box;
}
.item-list li + li {
    margin-left: -120px;
}
.item-list li:nth-child(2n+1) {
    transform: scale(0.7);
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.3);
}
.item-list li:nth-child(2n) {
    transform: scale(0.9);
    z-index: 0;
    background:  rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.item-list li:nth-child(3) {
    transform: scale(1);
    z-index: 1;
    background: none;
    box-shadow: none;
}
.arr-btn {
    all: unset;
    width: 100px;
    padding: 16px 15px 14px;
    text-align: center;
    border: 2px solid #828282;
    box-sizing: border-box;
    border-radius: 36px;
    font-size: 18px;
    font-weight: 700;
    color: #828282;
}
.arr-btn:hover {
    background-color: #711bff;
    border: none;
    color: #fff;
}
.left-btn {
    order: -1;
}